[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.10"
django-dotenv = "*"
mysqlclient = "*"
django-extensions = "*"
djangorestframework = "*"
django-crispy-forms = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "*"
